<nav class="navbar ">
    <div class="container-fluid">
        <a href="..pages\index.astro"><span class="navbar-brand">Sebas Movies</span></a>
    </div>


<style>
 
 .navbar{
    background-color: rgb(191, 111, 207);
 }


.navbar-brand{

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgb(98, 30, 206);

}

</style>
</nav>

